
@model IEnumerable<Modulo.Models.Fala>

<head>
 <meta charset="UTF-8">
<title>Trip.com.br</title>
<link href="~/css/Estillo.css" rel="stylesheet"><link rel="stylesheet">

</head>

<header class="menu-principal">
<main>
     <div class="header1">
      <div class="logo">
        </div>
     
       <!--Cabeçalho-->

        <div class="topo">
    <ul>
        <li>
            <a asp-action="Login">
            <img src="~/Img/Icon.png"/></a>
    </div>
     
        <!--FRASE-->
    <div class="Frase">
        <b> Precisa mudar a data da sua viagem?    <strong><a href>Faça sua solicitação aqui</strong></a></b>
    </div>

</main>
</header>

<main class="col-100 menu-urls">

    <!--HEADER2-->
        <!--CATEGORIAS-->
    <div class="header-2">

  <div class="categorias">
    <ul>

        <li>
          <img src="~/Img/aviao.png" width="22">
         <a asp-action="Index">PASSAGENS
        
          </a>
        </li>
        
        
        <li>
            <img src="~/Img/hotel.png" width="15">
            <a asp-action="Index">HOTÉIS 
        
        
            </a>
        </li>
        
        
        <li>
            <img src="~/Img/mala.png" width="19">
             <a asp-action="Index">PACOTES
        
        </a>
        </li>
        
        <li>
            <img src="~/Img/cru.png" width="24">
            <a asp-action="Index">CRUZEIROS
        
        </a>
        </li>
        
        <li>
            <img src="~/Img/onibus.png" width="16">
            <a asp-action="Index">DAY USE 
        
            </a>
        
        
        <li>
            <img src="~/Img/sale.png" width="18">
             <a asp-action="Promocao">PROMOÇÕES
        
            </a>
        </li>
        <li>
            <img src="~/Img/contato.png" width="13">
            <a asp-action="Contato">CONTATOS
        
            </a>
            <li>
                <img src="~/Img/grupo1.png" width="23">
                 <a asp-action="Index">SOBRE NÓS
            
                </a>
        </li>
        </ul>
        </div>
        

    <!--BUSCA-->

<div class="busca">
    <input placeholder="Bucar" type="text" />
</div>

</div>
</main>





<p>Caro cliente, é com grande alegria que agradecemos por depositar sua confiança em nosso trabalho e profissionalismo.

    Nos empenhamos ao máximo para alcançar a qualidade que você procura e é uma grande motivação ter a aprovação de clientes especiais como você.
    
    Esperamos que a nossa parceria seja duradoura e que nosso trabalho sempre corresponda com as suas expectativas! </p>

    <h3>Contatos:</h3>
    <div class="Texto">Email: Faleconosco@trip.com.br e Whatsapp: (11) 98888-8880 
        </div>







<!--FORMULÁRIO-->
<p>
    <a asp-action="Create">Create New</a>
</p>

<form  method="POST" enctype = "multipart/form-data" autocomplete="on">
    <fieldset>
  
      <legend>Fale conosco: </legend>

      <div class="input1">
 
      <label for="Nome"><strong>Nome:</label></strong>
            <input type="text" name="Nome completo" placeholder="Nome completo" size="30" maxlength=50 required="required"/>

 <label for="Email"><strong>Email:</label></strong>
 <input type="text" name="Email" placeholder="Email" size="30" maxlenght=50 required="required"/>

 
<br><br>

 <label for="Deseja receber nossas novidades?">Deseja receber nossas novidades?</label>
                    <input type="radio" id="Deseja receber nossas novidades?" name="opcao" value="Sim"/>Sim
                    <input type="radio" id="Deseja receber nossas novidades?" name="opcao" value="Não"/>Não



<br><br>

<label for="opinião">Fale conosco</label><br>
<textarea cols=40 id="opiniao" rows="10" name="opiniao" maxlength="150" wrap="on"
   placeholder="Digite sua mensagem"></textarea>

   </div>
 

<br>
<input type="submit" name="enviar" value="Enivar"/>
<input type="reset"  name="limpar" value="Limpar"/>
</fieldset>
</form>




<nav id="footer">
    <ul>
        <li>
            <a href="#">Empresa CNPJ 000.0000.00-00/0000</a>
        </li>
        <li>
            <a href="#">Termos de uso</a>
        </li>
        <li>
            <a href="#" >Fale conosco 08000 000 0000</a>
        </li>
        <li>
            <a href="#" >Guia de Segurança</a>
        </li>
        <li>
            <a href="#" >Central de Compras</a>
        </li>
     <li>
            <a href="#" class="favorito"><img src="~/Img/phone.png" width="19"></a>
        </li>
        <li>
            <a href="#" class="favorito"><img src="~/Img/wp.png" width="20"></a>
        </li>
        <li>
            <a href="#" class="favorito"><img src="~/Img/mail.png" width="20"></a>
        </li>
    </ul>
</nav>
