body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    font-family: "Open Sans";
}

ul {
    padding: 0px !important;
}

.menu-principal {
    width:  100%;
    background-color:  #ffe400;
    height: 50px;
    margin-top: -0.5em;
   }

main {
    margin: 0 auto;
    width: 980px;
    position: relative;

}

.topo ul li{
    margin-right: 15px;
    display: inline-block;
    list-style: none;
    float: left;

} 

.logo {
     float: left;
     width: 70px;
}

.topo {
     float: right;
}
 /* frase do cabeçaho */ 
.Frase {
    font-size: 14px;
    color: #000000;

    margin-top: 10px;
    padding: 16px;
    font-family: "Open Sans";
}

/*fundo com foto */ 

.header-2 {
    background-image: url(Img/rio3.png); 
    background-size: 1400px;

 background-color: #ffffff;
 width: 100;
 height: 50px;
 margin: 0 auto;
 padding: 16px;
 

}

label {
    height: 320px;
 margin: 0 auto;
 padding: 1px;
 font-family: "Open Sans";
 color: #00045d;
 position: relative;
 margin-top: 20px;
 


}

input {
 font-family: "Open Sans";
 color: #00045d;
    height: 25px;
    width: 180px;
    border: 2px solid #bbb7b7;
    position: relative;
    border-radius: 5px;
    /* margin-left: 50px; */
   

  }

  .input input {
    font-family: "Open Sans";
    color:#00045d;
       height: 25px;
       width: 180px;
       border: 2px solid #bbb7b7;
       position: relative;
       margin: 0 auto;
       display: inline-block;
       border-radius: 15px;
       border-color: #ffe400;
       background-color:#ffe400;
       font-weight: bold;
       padding: 1px;

     }

     fieldset {
        font-family: "Open Sans";
        color: #00045d;
        position: relative;
        height: 180px;
        width: 1100px;
        background-color:#ffffff;
        margin-left: 130px;
        margin-top: 20px;
    


        
    
        
       
       }

       .menu-urls{
        height: 50px;
        border-bottom: 3px solid #efefef;
    }
    
    /* categorias do menu */ 
    
    .categorias ul li{
       display: inline-block;
       color: #000000;
       margin-left: 20px;
       height: 35px;
    }
    
    .categorias ul li:hover{
        border-bottom: 2px solid  #00045d;
       
    }
    
    
    .categorias ul li a:hover{
     color: #00045d;
    }
    
     .categorias ul li a { 
        color:#ffffff;
        font-size: 13px;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font-family:  "Open Sans";
        
    }
        
    
    
    .categorias {
        float: left;
        width: 70%;
    }
    
    .busca {
        font-family: "Open Sans";
        text-align: center;
        width: 20%;
        float: left;
        padding: 13px;
    }
    
    
    .busca input{
        background-image: url(Img/bus.png);
        background-repeat: no-repeat;
        background-position: 96%;
        margin-top: 5px;
        height: 23px;
        width: 180px;
        border: 1px solid #bbb7b7;
        
    }
    
    
    .col-100 {
      width: 100%;
      float: left;
      position: relative;
    }
    
    
    .cat img {
        color: #000000;
        margin-left: 20px;
     }
      .cat a { 
         color: #f1f2ff;
         font-size: 15px;
         text-decoration: none;
         text-transform: uppercase;
         text-align: center;
         
     }
    
     .button.slick-prev {
      font-size: 0px;
      border: none;
      width: 25px;
      height: 51px;
      background-color: transparent;
    }
       /* Banner Rotativo */

       @keyframes carousel{
        0%    { left:0%; }
        11%   { left:0; }
        12.5% { left:-100%; }
        23.5% { left:-100%; }
        25%   { left:-200%; }
        36%   { left:-200%; }
        37.5% { left:-300%; }
        48.5% { left:-300%; }
        50%   { left:-400%; }
        61%   { left:-400%; }
        62.5% { left:-300%; }
        73.5% { left:-300%; }
        75%   { left:-200%; }
        86%   { left:-200%; }
        87.5% { left:-100%; }
        98.5% { left:-100%; }
        100%  { left:0; }
    }
    @keyframes go{
        0%    { left: 0; }
        100%    { left:-300%; }
    }
    @keyframes back{
        0%    { left:0; }
        100%  { left:100%; }
    }
    .carousel{
        width:60%; 
        overflow:hidden; 
        height:100%;
        border-radius: 20px solid #efefef;
        margin: auto;
    }
    .paineis{
        width:500%; 
        overflow:hidden;
        height:100%;  
        animation:carousel 30s infinite; 
        position:relative;
        margin: 20px;
    }
    
    article{
        float:left; 
        width:20%;
    } 
    .paineis img{
        margin-top: 9px;
        height:50%; 
        width:90%;
    }
    



/* Banners promocionais */

p {
    color: #000000;
     text-decoration: none;
     text-align: left;
     font-family: "Open Sans";
     margin-left: 177px;
     margin-top: 50PX;
}


.col-4 {
    width: 2.3%;
   /* position: relative;*/
    float: left;
   /* padding-left: 50px;
    padding-right: 50px; */
     margin-left: 175px;
}

  

.col-6{
    display: inline-flex;
    margin-left: 130px;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
  
   
}

.header-4 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    float:inline-end;

}





#footer {
    background-color : #ffe400;
    height: 80px;
    margin-left: 10px;
    margin: 0 auto;
}

#footer ul{
    width: 85vw;
    padding: 30px;
    list-style: none;
    text-align: center;
    
    
}

#footer ul li {
    display: inline;
    color: #000000;
    text-decoration: none;
    font-family: "Open Sans";
     text-align: center;
     margin: 0 auto;
     margin-left: 15px;
}

#footer ul li a {
    padding: 20px 2px;
    display: inline-block;
     color: #000000;
     font-size: 15px;
     text-decoration: none;
     font-family: "Open Sans";
     text-align: center;
     font-weight: bold;
}

#footer img {
    padding:-2px;

     
}


#footer ul li a:hover {
    color: #000000;
    text-decoration: none;
    font-family: "Open Sans";
     text-align: center;
     margin: 0 auto;

    
}


