@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="widht=divice-with, initial-scale=1.o">
 <title>login.com.br</title>
 <link rel="stylesheet" href="~/css/style.css"/>
 </head>

 <div class="container">
   <img src="~/Img/avatar6.png" alt="">
   <br><br><br><br><br><br>
  <h1>Login</h1>
 </div>

 <div class="form" method="POST">
   <label>
     Email ou Telefone<br/>
     <input type="text"  placeholder="Digite aqui" name="name" data-rules="required"/>
  </label>


    <label>
      Senha<br/>
      <input type="password" name="password"/>
      </label>

      <label>
     <input type="submit"  value="Entrar" p style = "color:white; background-color: #ffe400; font-size:15px; border:solid 1px;  font-family: arial, Tahoma, sans-serif;"/>
      </label>
      


            </div>
               <div>
              Não tem cadastro?<a href="class="button">Cadastre-se aqui</a>
           </div>
      
