@model Modulo.Models.Reservas
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
} <head>
 <meta charset="UTF-8">
<title>Trip.com.br</title>
<link href="~/css/estilo.css" rel="stylesheet"><link rel="stylesheet" >

</head>

<header class="menu-principal">
<main>
     <div class="header1">
      <div class="logo">
        </div>
     
       <!--Cabeçalho-->

        <div class="topo">
    <ul>
        <li>
           <a asp-action="Login">
            <img src="~/Img/Icon.png"/></a>
            </ul>
    </div>
     
        <!--FRASE-->
    <div class="Frase">
        <b> Precisa mudar a data da sua viagem?    <strong><a href>Faça sua solicitação aqui</strong></a></b>
    </div>


     </div>
</main>
</header>

<main class="col-100 menu-urls">

    <!--HEADER2-->
        <!--CATEGORIAS-->
    <div class="header-2">

  <div class="categorias">
    <ul>

        <li>
          <img src="~/Img/aviao.png" width="22">
         <a asp-action="Index">PASSAGENS
        
          </a>
        </li>
        
        
        <li>
            <img src="~/Img/hotel.png" width="15">
           <a asp-action="Index">HOTÉIS 
        
        
            </a>
        </li>
        
        
        <li>
            <img src="~/Img/mala.png" width="19">
            <a asp-action="Index">PACOTES
        
        </a>
        </li>
        
        <li>
            <img src="~/Img/cru.png" width="24">
            <a asp-action="Index">CRUZEIROS
        
        </a>
        </li>
        
        <li>
            <img src="~/Img/onibus.png" width="16">
           <a asp-action="Index">DAY USE 
        
            </a>
        
        
        <li>
            <img src="~/Img/sale.png" width="18">
           <a asp-action="Promocao">PROMOÇÕES
        
            </a>
        </li>
        <li>
            <img src="~/Img/contato.png" width="13">
           <a asp-action="Contato">CONTATOS
        
            </a>
            <li>
                <img src="~/Img/grupo1.png" width="23">
               <a asp-action="Index">SOBRE NÓS
            
                </a>
        </li>
        </ul>
        </div>
        

    <!--BUSCA-->

<div class="busca">
    <input placeholder="Bucar" type="text" />
</div>

</div>
</main>

<!--Banner Rotativo-->
<section class="carousel">
    <div class="paineis">
        <a href="#"><article><img src="~/Img/bannercapa1.png"></article></a>
        <a href="#"><article><img src="~/Img/bannercapa1.png"></article></a>
        <a href="#"><article><img src="~/Img//bannercapa1.png"></article></a>
        <a href="#"><article><img src="~/Img/bannercapa1.png"></article></a>
        <a href="#"><article><img src="~/Img/bannercapa1.png"></article></a>
    </div>
</section>





<strong><p>Promoções em destaque!!</p></strong>


<!--Banners promocioanais -->

<div>
    <div class="col-4">
    <img src="~/Img/text1.png"/> 
    </div>

    <div class="col-4">
        <img src="~/Img/text2.png" /> 
    </div>

        <div class="col-4">
            <img src="~/Img/text1.png" /> 
        </div>

    <div class="col-4">
        <img src="~/Img/text2.png" />
    </div>

        <div class="col-4">
            <img src="~/Img/text2.png" /> 
        </div>


</div>
<br><br>













<!--FORMULÁRIO-->


<form  asp-action="Create" method="POTS">
    <fieldset>
  
      <legend>Faça a sua reserva: </legend>

      <div class="input1">
  
      <label for="Nome"><strong>Nome:</label></strong>
            <input asp-for="Nome" type="text" name="Nome completo" placeholder="Nome completo" size="30" maxlength=50 required="required"/>

 <label for="CPF"><strong>CPF:</label></strong>
 <input asp-for="CPF" type="number" name="CPF" placeholder="CPF" size="20" maxlenght=50 required="required"/>


 <label for="Ceular"><strong>Celular:</label></strong>
 <input asp-for="Celular" type="number" name="Celular" placeholder="Celular" size="20" maxlenght=50 required="required"/>

 <label for="Email"><strong>Email:</label></strong>
 <input asp-for="Email" type="text" name="Email" placeholder="Email" size="30" maxlenght=50 required="required"/>


 <br><br>


 <label for="Origem"><strong>Origem:</label></strong>
            <input asp-for="Origem" type="text" name="Origem" placeholder="Origem" size="30" maxlength=50 required="required"/>

  
  <label for="Destino"><strong>Destino:</label></strong>
 <input asp-for="Destino" type="text" name="Destino" placeholder="Destino" size="30" maxlenght=50 required="required"/>


 <strong><label for="data">Entrada:</label></strong>
  <input asp-for="Entrada" type = "date" name = "data" />

<strong><label for="data">Saída:</label></strong>
  <input asp-for="Saida" type = "date" name = "data" />

</div>
        
  <br>
  <div class="input">
  <input type="submit" name="Reservar" value="Reservar"/>
</div>
  </fieldset>
  </form>









<nav id="footer">
    <ul>
        <li>
            <a href="#">Empresa CNPJ 000.0000.00-00/0000</a>
        </li>
        <li>
            <a href="#">Termos de uso</a>
        </li>
        <li>
            <a href="#" >Fale conosco 08000 000 0000</a>
        </li>
        <li>
            <a href="#" >Guia de Segurança</a>
        </li>
        <li>
            <a href="#" >Central de Compras</a>
        </li>
     <li>
            <a href="#" class="favorito"><img src="~/Img/phone.png" width="19"></a>
        </li>
        <li>
            <a href="#" class="favorito"><img src="~/Img/wp.png" width="20"></a>
        </li>
        <li>
            <a href="#" class="favorito"><img src="~/Img/mail.png" width="20"></a>
        </li>
    </ul>
</nav>
